html,
body {
    background-color: #ccc;
    height: 100%;
}

body {
    background-color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	height: 100%;
	margin: 0 auto;
	max-width: 640px;
	position: relative;
}

body.ios {
	height: -webkit-calc(100% + 60px); /* To allow iOS6 users to remove the address bar */
}

textarea,
input[type="text"] {
	-webkit-appearance: none;
	border: 1px solid #000;
	border-radius: 0;
}

a {
	color: #e25b00;
}

strong {
	font-weight: bold;
}

p {
	margin-bottom: 1em;
	margin-bottom: 1rem;
}

iframe {
	display: block;
}

#content {
    bottom: 0;
	position: absolute;
	top: 50px;
	width: 100%;
}

#content .scroller {
	height: 100%;
	position: absolute;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	top: 0;
	width: 100%;
}

#content .scroller::-webkit-scrollbar { display: none; }

.status {
	margin: 10px;	
}

button,
.button {
	-webkit-appearance: none;
	background-color: #f2f2f2;
	border: 1px solid #d9d9d9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #000;
	cursor: pointer;
	display: block;
	height: 60px;
	text-align: center;
	text-decoration: none;
	width: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:active,
.button:active {
	border-color: #333;
	background-color: #666;	
}

.button {
    line-height: 60px;
}

.menu_button {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-bottom: 10px;
	padding: 0 5px 0 10px;
	width: 50%;
}

.menu_button:nth-child(odd) {
	padding: 0 10px 0 5px;
}

.menu_button.full {
	margin-top: 10px;
	padding: 0 10px;
	width: 100%;
}

.second_page {
	padding: 10px 0;
}

.second_page .menu_button:nth-child(odd) {
	padding: 0 5px 0 10px;
}

.second_page .menu_button:nth-child(even) {
	padding: 0 10px 0 5px;
}

/* MENU */
.menu {
	background-color: #000;
	background-image: url('../images/logo.gif');
	background-position: 10px 50%;
	background-size: 218px 40px;
	background-repeat:no-repeat;
	color: transparent;
	cursor: pointer;
	height: 50px;
	line-height:50px;
	position: relative;
	z-index:9999;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);	
}

/* MAP */
.map_canvas {
	background-color: #CCC;
	border: 0;
	/*display: none;*/
	height: 100%;
	width: 100%;
}

.compass {
	background-image: url('../images/compass.png');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 40px;
	display: none;
	height: 40px;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 40px;
	z-index: 99;
	pointer-events: none;
}

.ios .compass {
	display: block;
}

.roskilde_marker {
	height: 37px;
	width: 29px;
}

.ros_marker {
    background-color: #000;
    padding: 2px;
    height: 25px;
	cursor: pointer;
    width: 25px;
    margin-bottom: 8px;  
}

.ros_marker img {
    position: relative;
    z-index: 1;
}

.ros_marker span {
	background-color: rgba(0,0,0,0.6);
    position: absolute;
    right: 2px;
    bottom: 8px;
    max-width: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #fff;
    z-index: 2;
    font-size: 10px;
    text-shadow: 0 0 2px #000;
}

.infoBox {
	width: 160px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.infoBox > img {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	z-index: 10;	
}

.ros_tooltip {
	background: black;
	border: 1px solid #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	margin-bottom: 8px;
	min-height: 37px;
	padding: 5px;
	width: 160px;
}

.ros_marker::after,
.ros_tooltip::after {
	background-color: #000;
	bottom: 4px;
	content: '';
	display:block;
	height: 10px;
	left: 50%;
	margin-left: -5px;
	position: absolute;
	width: 10px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.ros_tooltip .tt_img {
	float: left;
	height: 25px;
	width: 25px;
}

.ros_tooltip .tt_cont {
	margin-left: 32px;
	pointer-events: none;
	position: relative;
	z-index: 1;
}

.ros_tooltip .tt_time,
.ros_tooltip .tt_details {
	font-size: 10px;	
}

.ros_tooltip button {
	position: relative;
	z-index: 1;
}

#dynamic {
	position: absolute;
	visibility:hidden;
	top: -9999px;
	left: -9999px;	
}

/* MESSAGE */

.message {
	background-color: #fff;
	box-shadow: 0 0 4px 1px rgba(0,0,0,0.4);
	position: absolute;
	left: 10px;
	top: 100px;
	padding: 10px;
	height: 200px;
	width: 300px;	
}


/* LOADING */
#loading {
	bottom: 0;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,0.75);
	z-index: 9999;
}

#loading > div:first-child {
	background-image: url('../images/spinner-logo.png');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100% 121px;
	height: 200px;
	margin: -100px;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 200px;

	-webkit-perspective: 600px;
	perspective: 600px;

	-webkit-animation-duration: 2s;
	-webkit-animation-name: spinner;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	
	animation-duration: 2s;
	animation-name: spinner;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-webkit-keyframes spinner {
	from {
		-webkit-transform: rotateY( 0deg );
	}

	to {
		-webkit-transform: rotateY( -360deg );
	}
}

@keyframes spinner {
	from {
		transform: rotateY( 0deg );
	}

	to {
		transform: rotateY( -360deg );
	}
}

#loading > div:last-child {
    background-color: #000;
    color: #fff;
    height: 100px;
    line-height: 100px;
    margin: -50px;
    left: 50%;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 100px;
    z-index: 1;
}


/* Schelude */
.schedule_scroller {
    float: left;
    height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	width: -webkit-calc(100% - 60px);
	width: calc(100% - 60px);
}

.schedule_container {
    height: 100%;
	width: 14000px;
}
	
.day {
	border-right: 40px solid #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	height: 100%;
	overflow: hidden;
}

.stage {
	background-color: rgba(0,0,0,0.5);
	background-image: url('../images/line.png');
	border: 1px dashed #fff;
	border-left: none;
	border-right: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 12.5%;
	position: relative;
	overflow: hidden;
}

.band,
.time,
.stage_name {
	background: rgba(255,255,255, 0.5);
	border: 1px solid red;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	height: 100%;
	padding: 2px 6px;	
	width: 120px;
	font-size:12px;
}

.band {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);	
}

.time {
    width: 30px;
    text-indent: -26px;
    text-align: center;
}

.name_day {
    position: absolute;
    left: 60px;
    bottom: 5px;
}

.time:nth-child(even) {
    color: transparent;
}

.stages {
    float: left;
    height: 100%;
    width: 60px;
}

.stage_name {
    font-size: 10px;
    height: 12.5%;
    padding: 2px 0;
    text-align: center;
    width: 60px;
}


/* PAGES */

.page {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
	padding: 20px;
}

/* ARTIST PAGE */

.artist_page {
    background-color: #fff;
    bottom: 0;
    position: absolute;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    top: 0;
    width: 100%;
    z-index: 10;
}

.artist_page::-webkit-scrollbar { display: none; }

.artist_page > div {
    overflow: hidden;
}

.artist_page .artist_close {
	cursor: pointer;
    font-size: 64px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    background: black;
    color: #fff;
    text-align: center;
    line-height: 50px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);	
}

.artist_page > div > div {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 20px;
    width: 50%;
}

.artist_page h4 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 10px;
	margin-right: 50px;
}

.artist_page .artist_details {
    float: left;
	padding: 20px 0;
	width: 40%;
}

.artist_page .artist_description {
    float: right;
	font-size: 12px;
    padding-right: 0;
	width: 60%;
}

.artist_page .artist_description p {
	margin-bottom: 2em;	
}


/* EVENT PAGE */
.event_page strong,
.event_page input,
.event_page textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	clear: both;
	display: block;
	width: 100%;	
}

.create_event_options {
	bottom: 10px;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 1;	
}

.create_event_options > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	float: left;
	padding: 0 10px;
	width: 50%;	
}

.event_dropdown span {
	display: none;
}

.create_event_options > div:last-child {
	position: relative;	
}

.create_event_options > div:last-child span {
	background-color: #fff;
	display: block;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.create_event_options > div:last-child button {
	left: 8px;
	position: absolute;
	right: 8px;
	top: 0;
	width: auto;
	display: none;
}


/* MY SCHELUDE
============================================================= */
.my_event {
	background-color: #000;
	background-color: rgba(0,0,0,0.8);
	border-radius: 2px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
	clear: both;
	color: #fff;
	font-size: 14px;
	margin-bottom: 40px;
	overflow: hidden;
	padding: 10px;
}

.my_event h2 {
	font-size: 18px;
	font-weight: bold;
}

.my_event_cont .my_event_times {
	font-style: italic;
	margin-bottom: -4px;
	overflow: hidden;
}

.my_event_cont .my_event_times h5 {
	float: left;
	margin-right: 20px;
}

.my_event_details > img {
	height: 56px;
	width: 56px;
	float: left;
	margin-right: 10px;
}


/* ARTIST PAGE
============================================================= */
.rel {
	height: 100%;
	position: relative;
}

.dark_box {
	background-color: #000;
	background-color: rgba(0,0,0,0.8);
	border-radius: 2px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
	clear: both;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 10px 44px 10px 10px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dark_box > img {
	height: 56px;
	width: 56px;
	float: left;
	margin-right: 10px;
}

.artist_header {
	background-color: #ff8000;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	text-transform: uppercase;
}

.quickfind {
	background-color: rgba(255,255,255,0.4);
	border-radius: 20px;
	bottom: 10px;
	font-size: 10px;
	font-weight: bold;
	padding: 20px 0;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 10px;
	width: 40px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.quickfind:hover,
.quickfind:active {
	background-color: rgba(255,255,255,0.8);
}

.quickfind ol {
	height: 100%;
}

.quickfind li {
	cursor: pointer;
	height: 3.7%;
}

#user-avatar {
	height: 40px;
	position: absolute;
	right: 5px;
	overflow: hidden;
	top: 5px;
	width: 40px;
}

#user-avatar.en::after,
#user-avatar.dk::after {
	background-size: cover;
	background-repeat: no-repeat;
	border: 1px solid rgba(0,0,0,0.25);
	bottom: 0;
	content: '';
	display: block;
	height: 10px;
	position: absolute;
	right: 0;
	width: 20px;
}

#user-avatar.en::after {
	background-image: url('../images/en.png');
}

#user-avatar.dk::after {
	background-image: url('../images/dk.gif');
}

.none {
	display: none;
}


.tweet {
	min-height: 36px;
	padding: 10px 10px 10px 60px;
	position: relative;
}

.tweet a {
	color: #fff;
	text-decoration: none;
}

.tweet img {
	position: absolute;
	top: 10px;
	left: 10px;
}

.tweet h3 {
	color: #fff;
	font-weight: bold;
}

.tweet strong {
	color: #e25b00;
}

.news h2 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
