body {
	font-family:Arial, Helvetica, sans-serif;
	margin: 0 auto;
	max-width: 640px;
}

#content {
	overflow: hidden;
	position: relative;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.status {
	margin: 10px;	
}

button {
	-webkit-appearance: none;
	background-color: #f2f2f2;
	border: 1px solid #d9d9d9;
	height: 60px;
	width: 100%;
}

button:active {
	border-color: #333;
	background-color: #666;	
}

.menu_button {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-bottom: 10px;
	padding: 0 5px 0 10px;
	width: 50%;
}

.menu_button:nth-child(odd) {
	padding: 0 10px 0 5px;
}

/* MENU */
.menu {
	background-color: #000;
	background-image: url('../images/logo.gif');
	background-position: 50%;
	background-size: 218px 40px;
	background-repeat:no-repeat;
	height: 50px;
	line-height:50px;
	position: relative;
	text-indent:-9999px;
	z-index:9999;
}

/* MAP */
.map_canvas {
	background-color: #CCC;
	/*display: none;*/
	height:400px;
	width: 100%;
}

.compass {
	background-image: url('../images/compass.png');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 40px;
	height: 40px;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 40px;
	z-index: 99;
	pointer-events: none;
}

.ros_marker {
    background-color: #000;
    padding: 2px;
    height: 25px;
	cursor: pointer;
    width: 25px;
    margin-bottom: 8px;  
}

.ros_marker img {
    position: relative;
    z-index: 1;
}

.ros_marker span {
	background-color: rgba(0,0,0,0.6);
    position: absolute;
    right: 2px;
    bottom: 8px;
    max-width: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #fff;
    z-index: 2;
    font-size: 10px;
    text-shadow: 0 0 2px #000;
}

.infoBox {
	background: "url('http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/examples/tipbox.gif') no-repeat";
	width: 160px;
}

.ros_tooltip {
	background: black;
	border: 1px solid #333;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	margin-bottom: 8px;
	min-height: 37px;
	padding: 5px;
	width: 160px;
}

.ros_marker::after,
.ros_tooltip::after {
	background-color: #000;
	bottom: 4px;
	content: '';
	display:block;
	height: 10px;
	left: 50%;
	margin-left: -5px;
	position: absolute;
	width: 10px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.ros_tooltip .tt_img {
	float: left;
}

.ros_tooltip .tt_cont {
	margin-left: 32px;
	pointer-events: none;
	position: relative;
	z-index: 1;
}

.ros_tooltip .tt_time {
	font-size: 10px;	
}

#dynamic {
	position: absolute;
	visibility:hidden;
	top: -9999px;
	left: -9999px;	
}

/* MESSAGE */

.message {
	background-color: #fff;
	box-shadow: 0 0 4px 1px rgba(0,0,0,0.4);
	position: absolute;
	left: 10px;
	top: 100px;
	padding: 10px;
	height: 200px;
	width: 300px;	
}


/* LOADING */
#loading {
	bottom: 0;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,0.75);
	z-index: 9999;
}

#loading div {
	background-image: url('../images/spinner.gif');
	background-size: 64px;
	height: 64px;
	margin: -32px;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 64px;	
}


/* Schelude */
.schedule_container {
	width: 2500px;	
}
	
.day {
	border: 4px solid #000;
	clear: both;
	overflow: hidden;
}

.stage {
	background-color: rgba(0,0,0,0.5);
	background-image: url('../images/line.png');
	overflow: hidden;
	border: 1px dashed #fff;
	border-left: none;
	border-right: none;
}

.band,
.stage_name {
	float: left;
	border: 1px solid red;
	background: rgba(255,255,255, 0.5);
	padding: 2px 6px;	
	width: 120px;
	font-size:12px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
