Options +FollowSymlinks
RewriteEngine on
RewriteBase /
RewriteRule ^(.+)\.appcache$ /$1.php [NC,L]

Redirect /my-schedule /
Redirect /find-friends /
Redirect /remember-location /
Redirect /my-locations /
Redirect /festival-map /
Redirect /festival-schedule /
Redirect /create-event /
Redirect /events /
Redirect /artists /
Redirect /news /
Redirect /tweets /

#Gzip
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/json application/javascript text/javascript image/svg+xml
</ifmodule>
#End Gzip

<FilesMatch ".(ico|jpg|jpeg|png|gif)$">
Header set Cache-Control "max-age=1209600, public"
</FilesMatch>

<FilesMatch ".(svg)$">
Header set Cache-Control "max-age=1209600, public"
Header unset Last-Modified
</FilesMatch>

<FilesMatch ".(js|css)$">
Header set Cache-Control "max-age=1209600, must-revalidate"
</FilesMatch>
